<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-8"><%= image_tag("LogoMAD.png")%></div>
    <div class= "col-2" style="padding-top: 40px">
      <%= link_to 'UA', root_path(locale: :ua)%>
      <%= link_to 'EN', root_path(locale: :en)%> </div>
  </div>
</div>
<hr>
<%mag_anomaly_detect = mad(@mags)%>

<div class="container-fluid">
  <div class="row">
    <div class="col col-4">
      <h4><%= t(:import_location)%></h4>
        <%=form_tag import_mags_path, multipart: true do%>
          <div><%= file_field_tag :file %></div>
          <div><%= file_field_tag :file1 %></div>
        <div><%= submit_tag t(:button_import)%></div>
        <%end%>

        <%= flash[:notice]%>
        <hr>
        <h4><%= t(:ma_table)%></h4>
        <div class="table-responsive-sm">
          <table class="table">
            <thead>
              <tr>
                <th><%= t('chart.x') %></th>
                <th><%= t('chart.y') %></th>
                <th><%= t('chart.z') %></th>
              </tr>
            </thead>
            <tbody>
              <%if @mags.first != nil%>
                <%mag_anomaly_detect.each do |mags|%>
                  <tr>
                      <td><%=mags.x_loc %></td>
                      <td><%=mags.y_loc %></td>
                      <td><%=mags.vector_mag %></td>
                    </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col">
      <div>
        <h4><%= t(:magnetometer_value)%></h4>
          <%= line_chart [
            { name: t('chart.magnetometer'),
              data: Mag.pluck(:id,:vector_mag), points: false},
            { name: t('chart.mag_field_max'),
              data: Mag.pluck(:id, 65), points: false},
            { name: t('chart.mag_field_min'),
              data: Mag.pluck(:id, 25), points: false},
          ], colors: ["#003ebb", "#b00", "#b00"]%>
      </div>
      <h4><%= t(:platform_movement)%></h4>
        <div>
            <%= scatter_chart [
              { name: t('chart.magl'),
                data: mag_anomaly_detect.pluck(:x_loc, :y_loc)},
              { name: t('chart.playform_move'),
                data: Mag.pluck(:x_loc, :y_loc)}
            ], colors: ["#e30000", "#00bb3e"]%>
        </div>
    </div>
  <div>

</div>
</div>
