<h2>Please, import location and magnetometer data</h2>

<div>
    <%=form_tag import_mags_path, multipart: true do%>
      <%= file_field_tag :file %>
      <%= file_field_tag :file1 %>
      <%= submit_tag "Import data"%>
    <%end%>
</div>
<div>

</div>
<%= flash[:notice]%>
<div>
  <%= line_chart [
    { name: "Magnetometer Data",
      data: Mag.group(:id).sum(:vector_mag), points: false},
    { name: "NORMAL_MAX",
      data: Mag.group(:id).sum(65), points: false},
    { name: "NORMAL_MIN",
      data: Mag.group(:id).sum(25), points: false},
  ]%>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>X - platform position</th>
        <th>Y - platform position</th>
        <th>Z - magnetometer data in this spot</th>
      </tr>
    </thead>
    <tbody>
      <%if @mags.first != nil%>
      <%mag_an_det = mad(@mags)%>
        <%mag_an_det.each do |mags|%>
          <tr>
              <td><%=mags.x_loc %></td>
              <td><%=mags.y_loc %></td>
              <td><%=mags.vector_mag %></td>
            </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
</div>
